.App{
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

.App-title{
    font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
    display: inline;
    margin: 15px;
}

.Form-Align {
    display: flex;
    justify-content: center;
}

.Deadline-Input{
    font-size: 25px;
    margin: 15px;
}
